Source: erlang-ale
Section: libs
Priority: extra
Maintainer: Sergey "Shnatsel" Davidoff <sdavydov@kmlab.su>
Build-Depends: debhelper (>= 8.0.0), erlang-dev
Standards-Version: 3.9.3
Homepage: https://github.com/esl/erlang_ale

Package: erlang-ale
Architecture: any
Depends: erlang-base, ${shlibs:Depends}, ${misc:Depends}
Description: Erlang Actor Library for Embedded
 Erlang/ALE provides high level abstractions
 for interfacing to hardware peripherals through
 I2C, SPI, and GPIOs on embedded platforms.
