#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	rebar compile

# Implement staged installation
DESTDIR = debian/erlang-gen-leader
VERSION = 1.0
ERL_APP_DESTDIR = $(DESTDIR)/usr/lib/erlang/lib/gen_leader-$(VERSION)/ebin
override_dh_install:
	install -m 755 -d $(ERL_APP_DESTDIR)
	install -m 644 ebin/*.app ebin/*.beam $(ERL_APP_DESTDIR)
