#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

# Implement staged installation
DESTDIR = debian/erlang-ale
VERSION = 0.1.0
ERL_APP_DESTDIR = $(DESTDIR)/usr/lib/erlang/lib/erlang_ale-$(VERSION)
override_dh_install:
	install -m 755 -d $(ERL_APP_DESTDIR)/priv
	install -m 755 priv/* $(ERL_APP_DESTDIR)/priv
	install -m 755 -d $(ERL_APP_DESTDIR)/ebin
	install -m 644 ebin/*.app ebin/*.beam $(ERL_APP_DESTDIR)/ebin
